<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
</head>

<body>
    <div class="nav">
        <div class="nav-responsive">
            <a id="menu" class="nav-menu">☰</a>
        </div>
        <div class="content" id="content-responsive">
            <img src="./images/heros/logo.png" alt="logo">
            <ul>
                <li class="nav_item"><a href="#">Home</a></li>
                <li class="nav_item"><a href="#">Favorite</a></li>
                <li class="nav_item"><a href="#">About Us</a></li>
            </ul>
        </div>
    </div>
    <img src="./images/heros/hero-image_1.jpg" width="300px">
</body>

</html>