/* navbar */
@media screen and (max-width: 602px) {
    .content{
        top: 70px;
        margin: 0;
        background-color: white;
        position: absolute;
        -webkit-transform: translate(-360px, 0);
        transform: translate(-360px, 0);
        transition: transform 0.3s ease;
        z-index: 3;
    }
    .open{
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .content a{
        color: black;
        padding: 12px;
    }
    .nav_item {
        display: list-item;
        border-bottom: 1px solid #cecece;
        width: 90%;
        text-align: left;
    }
    #menu{
        margin: 0;
    }
    .nav-responsive{
        margin-left: 20px;
        display: flex;
        justify-content: flex-start;
    }
}
@media screen and (min-width: 602px) {
    .nav-responsive{
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .card img{
        width: 100%;
        height: auto;
    }
    .caption{
        display: none;
    }
}