@media screen and (max-width: 520px) {
    .content{
        top: 70px;
        margin: 0;
        background-color: white;
        position: absolute;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
    }
    .open{
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .content img{
        display: none;
    }
    .content a{
        color: black;
    }
    .nav_item {
        display: list-item;
        border-bottom: 1px solid #b3b1b1;
        width: 100%;
        text-align: left;
    }
}

@media screen and (min-width: 520px) {
    .nav-responsive{
        display: none;
    }
}



